<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/logo white.png"/>
    <link rel="stylesheet" href="/style.css">
    <title>Register Page | GoForIt</title>
</head>

<body class="reg-log-bg">
    
    <section id="reg" class="reg">
        <div class="reg-container">
            <form class="register-form" action="/auth/register" method="POST">
                <h1 class="cur-def">Register</h1>
                <input type="text" name="username" id="username" placeholder="Username" maxlength="255" required>
                <input type="email" name="email" id="email" placeholder="Email" maxlength="255" required>
                <input type="password" name="password" id="password" placeholder="Password" maxlength="255" required>
                <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" maxlength="255" required>
                {{#if message}}
                    <h4 class="cur-def alerts-red">{{message}}</h4> 
                {{/if}}
                <button class="cur-point" type="submit">Register</button>
                <a href="/login"><h5 class="cur-point">Already Have an Account?</h5></a>
            </form>
        </div>
    </section>
    
</body>
</html>