/* initialization */
:root {
  background-color: rgb(242, 242, 242);
  font-family: sans-serif;
  z-index: 0;
  width: 100%;
  height: 100%;
}
:root > * {
  width: inherit;
  height: inherit;
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background: rgb(188, 192, 196);
}
/* Reset, Change Default */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
textarea {
  cursor: default;
  word-break: break-all;
  overflow-wrap: break-word;
  overflow: hidden;
  max-width: 100%;
}
a,
a *,
button,
button * {
  cursor: pointer;
}
dialog {
  border: 0;
}
img{
  max-width: 100%;
}
input{
  outline: none;
}
input[type=text]{
  width: 0;
}
p,
label{
  font-weight: normal;
  font-size: 0.874em;
}
.icon-container-light {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  max-width: 2.5em;
  max-height: 2.5em;
  border-radius: 100%;
}
.icon-container-dark {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  max-width: 2.5em;
  max-height: 2.5em;
  border-radius: 100%;
}
.icon-container-black {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  max-width: 2.5em;
  max-height: 2.5em;
  border-radius: 100%;
}
/* Cursor */
.cur-def {
  cursor: default;
}
.cur-point {
  cursor: pointer;
}
/* Don't Delete, Change, or Copy Class Name Backend is Affected This Section */
#__next {
  width: inherit;
  height: inherit;
}

.category-selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.Missed {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: #b40a0a;
  background: hsla(38, 49%, 80%, 0.08);
}

.Ongoing {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: #0ab45f;
  background: hsla(38, 49%, 80%, 0.08);
}

.Soon {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: grey;
  background: hsla(38, 49%, 80%, 0.08);
}

.none {
  display: none;
}
/* Don't Delete, Change, or Copy Class Name Backend is Affected This Section */
/* Added */
.loading {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.loading .loading-svg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  min-height: 4em;
}

body.loading .loading {
  overflow: hidden;
}

body.loading .loading {
  display: block;
}

.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'topbar     topbar  sidebar'
    'categories main    sidebar';
  grid-template-columns: minmax(12.5em, 12%) auto 3em;
  grid-template-rows: 3em auto;
}

.fixed-top-bar {
  grid-area: topbar;
  position: absolute;
  z-index: 2;
}

.top-bar-container {
  width: calc(100% - 3em);
  position: fixed;
  z-index: 2;
}

.top-bar {
  background-color: white;
  z-index: 1;
  min-height: 3em;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  box-shadow: 0 0.2em 0.1em -0.1em rgb(221, 216, 216);
  padding: 0 0.5em;
}

.top-bar h1 {
  font-family: 'Righteous', cursive;
  font-size: 35px;
  color: black;
}

.top-bar h3 {
  text-align: right;
  color: black;
}

.side-bar {
  grid-area: sidebar;
  position: fixed;
  background-color: black;
  right: 0;
  width: 3em;
  height: 100%;
  z-index: 3;
  box-shadow: -0.2em 0 0.1em -0.1em rgb(221, 216, 216);
  padding: 1em 0;
}

.side-bar .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
}

.category-icon {
  flex: 1 1 100%;
  justify-self: center;
  max-width: 1.8em;
  min-height: 2em;
  display: none;
}

.side-bar .logo {
  justify-self: center;
  max-width: 2em;
  min-height: 2em;
}

.logout-icon {
  max-width: 2em;
  min-height: 2em;
}

.goup-icon {
  display: none;
  position: fixed;
  right: 3.5em;
  bottom: 1em;
  justify-self: center;
}

.goup-icon div img{
  max-width: 1.5em;
  min-height: 1.5em;
}

.categories {
  grid-area: categories;
  position: fixed;
  height: calc(100% - 3em);
  min-width: 12.5em;
  left: 0;
  margin-top: 3em;
  padding-top: 0.5em 0;
  background-color: white;
  box-shadow: 0.2em 0 0.1em -0.1em rgb(221, 216, 216);
  z-index: 1;
  flex-wrap: wrap;
  align-content: flex-start;
}

.add-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.25em;
  padding-top: 0.5em;
}

.add-category h3 {
  color: black;
  padding: 0.25em;
}

.add-category img {
  min-height: 1.5em;
  width: 1.5em;
}

.categories input {
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 0.5em;
  border: 1px solid gray;
  outline: none;
  width: calc(100% - 0.5em);
}

.categories ul {
  overflow-y: auto;
  max-height: 30em;
  padding-left: 0.25em;
}

.categories ul li {
  list-style-type: none;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
  border-radius: 0.3em;
}

.category h5 {
  border: none;
  color: black;
  outline: none;
  background-color: transparent;
}

.category:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.category-empty {
  padding-block: 1em;
  text-align: center;
}

.category-empty img {
  min-height: 2.5em;
  width: 2.5em;
}

.category-empty h5 {
  color: black;
}

.category-settings {
  min-height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
}

.category-settings:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.category-settings img {
  width: 1.25em;
  min-height: 1.25em;
}

.category-settings-popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 100%;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs-container {
  background-color: white;
  min-height: 9em;
  width: 95%;
  max-width: 18em;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.06em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cs-container > * {
  width: 100%;
  display: flex;
}

.cs-container .cs-header {
  align-items: center;
  justify-content: space-between;
}

.cs-header .xclose-csp {
  display: flex;
  border-radius: 100%;
  background-color: white;
  width: 1.75em;
  height: 1.75em;
  justify-content: center;
  align-items: center;
}

.cs-header .xclose-csp:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.xclose-csp img {
  width: 1.25em;
  height: 1.25em;
}

.cs-container input {
  width: 100%;
  padding: 0.25em;
  border: 0.05em solid rgb(7, 148, 148);
  border-radius: 0.3em;
}

.category-settings-popup .cs-btns {
  justify-content: flex-end;
  gap: 1em;
}

.cs-btns > * {
  background-color: transparent;
  width: 4em;
  min-height: 1.5em;
  border-radius: 0.3em;
}

.cs-btns .red-btn {
  border: 0.05em solid rgb(173, 48, 16);
  min-height: 1.8em;
}

.red-btn:hover {
  background-color: rgb(185, 55, 22);
  color: white;
}

.cs-btns .green-btn {
  border: 0.05em solid black;
  min-height: 1.8em;
}

.green-btn:hover {
  background-color: black;
  color: white;
}

.csp-alert {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.csp-alert .cspa-container {
  background-color: white;
  min-height: 7em;
  width: 95%;
  max-width: 18em;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
}

.csp-alert .cspa-container > * {
  flex-grow: 1;
}

.csp-alert .cspa-btns {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  gap: 1em;
}

.cspa-btns > * {
  background-color: transparent;
  width: 4em;
  min-height: 1.8em;
  border-radius: 0.3em;
}

.cspa-btns .cancel-btn {
  border: 0.06em solid black;
  color: black;
}

.cancel-btn:hover {
  background-color: black;
  color: white;
}

.cspa-btns .delete-btn {
  border: 0.06em solid rgb(173, 48, 16);
  color: rgb(150, 34, 5);
}

.delete-btn:hover {
  background-color: rgb(173, 48, 16);
  color: white;
}

/* Main content */
.main-contents {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'tasks dashboard';
  padding-block: 0.5em;
  padding-inline: 0.5em;
  gap: 0.5em;
}

/* Tasks */
.tasks {
  grid-area: tasks;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5em;
}

.tasks .ts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.06em solid rgb(225, 222, 223);
  padding-bottom: 0.5em;
}

.ts-header img {
  min-height: 1.5em;
  width: 1.5em;
}

.tasks ul {
  overflow-y: auto;
  max-height: 35.5em;
  padding: 0.5em;
}

.task {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 0 0.06em rgb(221 216 216);
  border-radius: 0.3em;
  padding: 0.5em;
  margin: 0.25em;
}

.task-finished > * {
  opacity: 0.3;
}

.task > * {
  flex: 1 1 100%;
}

.ts-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ts-title-1 {
  display: flex;
  align-items: flex-start;
  flex: 1 1 100%;
}

.ts-title-1 input[type="checkbox"] {
  accent-color: black !important;
}

.ts-title .ts-name {
  border: none;
  text-align: left;
  outline: none;
  flex: 1 1 100%;
  background-color: transparent;
}

.ts-title .task-settings {
  display: flex;
  max-width: 3em;
  max-height: 3em;
  align-items: center;
  justify-content: center;
}

.task-settings:hover {
  border-radius: 0.3em;
  background-color: rgba(221, 216, 216, 0.3);
}

.task-settings img {
  max-width: 1.25em;
  max-height: 1.25em;
}

.ts-description {
  align-self: flex-start;
  flex-wrap: wrap;
}

.ts-description p {
  text-align: justify;
}

.ts-date-container {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: right;
}

.ts-date {
  max-width: 12.5em;
  text-align: right;
}

.ts-date input {
  flex-grow: 1;
  min-width: 12.5em;
  justify-self: right;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
}

.ecp-container {
  background-color: white;
  width: 95%;
  height: max-content;
  max-height: 50%;
  max-width: 22.5em;
  left: 0;
  bottom: 0;
  padding: 1em;
  margin: 0.5em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  border-radius: 0.5em;
  position: fixed;
  display: flex;
  flex-flow: column;
  gap: 1em;
}

/* Add Task */
.add-edit-popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atp-container {
  background-color: white;
  width: 95%;
  height: 95%;
  max-width: 22.5em;
  right: 0;
  padding: 1em;
  margin: 0.5em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  border-radius: 0.5em;
  position: fixed;
  display: flex;
  flex-flow: column;
  gap: 1em;
  
}

.atp-header {
  flex: 1 1 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 1px solid hsl(220, 7%, 82%);
}

.xclose-atp {
  width: 1.75em;
  height: 1.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.xclose-atp:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.xclose-atp img {
  width: 1.25em;
  height: 1.25em;
}

.atp-form {
  flex: 1 1 90%;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  overflow: auto;
}

.atp-form > * {
  width: 100%;
  align-content: center;
}

.atp-form input {
  border-radius: 0.3em;
  display: block;
  padding: 0.5em;
  border: 0.05em solid gray;
  width: 100%;
  color: black;
}

.atp-form textarea {
  border: 0.05em solid black;
  display: block;
  color: black;
  width: 100%;
  padding: 0.5em;
  min-width: 100%;
  min-height: 2.5em;
}

.atp-btns {
  flex: 1 1 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid hsl(220, 7%, 82%);
  padding-top: 1em;
}

.atp-btns > * {
  flex: 1 1 100%;
}

.atp-btns button {
  background-color: black;
  color: white;
  outline: none;
  border-radius: 0.3em;
  border: 0.06em solid black;
  width: 5em;
  padding: 0.5em;
}

.atp-btns button:hover {
  background-color: white;
  color: black;
}

.atap {
  flex: 1 1 90%;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.atap h5 {
  font-size: 0.8em;
}

.tps-btns {
  flex: 1 1 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  border-top: 1px solid hsl(220, 7%, 82%);
  padding-top: 1em;
}

.tps-btns > * {
  flex: 1 1 100%;
}

.tps-btns button {
  outline: none;
  border-radius: 0.3em;
  width: 5em;
  padding: 0.5em;
}

.tp-btn-delete {
  background-color: rgb(173, 48, 16);
  color: white;
  border: 0.05em solid rgb(173, 48, 16);
}

.tp-btn-delete:hover {
  background-color: transparent;
  color: rgb(173, 48, 16);
  border: 0.05em solid rgb(173, 48, 16);
}

.tp-btn-save {
  background-color: black;
  color: white;
  border: 0.05em solid black;
}

.tp-btn-save:hover {
  background-color: transparent;
  color: black;
  border: 0.05em solid black;
}

.tp-btn-cancel {
  background-color: black;
  color: white;
  border: 0.05em solid black;
}

.tp-btn-cancel:hover {
  background-color: transparent;
  color: black;
  border: 0.05em solid black;
}

.datp {
  flex: 1 1 90%;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  overflow: auto;
}

.datp > * {
  width: 100%;
  align-content: center;
}

/* Dashboard */
.dashboard {
  grid-area: dashboard;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5em;
}

.dashboard h5 {
  padding: 0.5em;
  border-bottom: 0.06em solid rgb(225, 222, 223);
}

.trash-icon {
  width: 1.5em;
  min-height: 1.5em;
}

.dashboard .ts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.06em solid rgb(225, 222, 223);
  padding-bottom: 0.5em;
}

.dashboard .dashboardul {
  border-radius: 0.5em;
  overflow-y: auto;
  max-height: 10em;
  flex-grow: 1;
  padding: 0.5em;
}

/* Auth */
.reg-log-bg {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Register */
.reg-container {
  background-color: white;
  width: 95%;
  max-width: 17.5em;
  min-height: 20em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  padding: 2em;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.register-form > * {
  flex: 1 1 100%;
}

.register-form input {
  border-radius: 0.3em;
  border: 0.05em solid gray;
  padding: 0.75em;
}

.register-form button {
  background-color: black;
  color: white;
  border-radius: 0.3em;
  border: 0.05em solid;
  padding: 0.75em;
}

.register-form button:hover {
  border: 0.05em solid black;
  background-color: white;
  color: black;
}

.register-form h5 {
  text-align: center;
  color: black;
}

.register-form h5:hover {
  color: black;
}

/* Login */
.log-container {
  background-color: white;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  width: 95%;
  max-width: 17.5em;
  min-height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.login-form > * {
  flex: 1 1 100%;
}

.login-form input {
  border-radius: 0.3em;
  border: 0.05em solid gray;
  padding: 0.75em;
}

.login-form button {
  background-color: black;
  color: white;
  border-radius: 0.3em;
  border: 0.05em solid;
  padding: 0.75em;
}

.login-form button:hover {
  border: 0.05em solid black;
  background-color: white;
  color: black;
}

.login-form h5 {
  text-align: center;
  color: black;
}

.login-form h5:hover {
  color: black;
}

/* Small Screens */
@media (max-width: 75em) {
  .main-contents {
    grid-template-areas: 
      'dashboard'
      'tasks';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(min-content,auto));
  }

  .dashboard {
    height: min-content;
  }

  .tasks {
    height: min-content;
  }
}
@media (max-width: 785px) {
  .category-icon {
    display: block;
  }

  .page {
    grid-template-areas: 
      'topbar topbar'
      'main   sidebar';
    grid-template-columns: auto 3em;
  }

  .categories {
    position: fixed;
    width: calc(100% - 3em);
    height: 100%;
    max-width: 100%;
    display: none;
    margin-top: 0px;
    padding-top: 3.5em;
  }

  .tasks {
    min-height: 50%;
  }

  .dashboard {
    min-height: 50%;
  }
}

@media (orientation:portrait) {
  .atp-container{
    height: max-content;
    max-height: 50%;
    bottom: 0;
  }

  .goup-icon {
    display: block;
  }
}
