/* Reset, Change Default */
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  cursor: default;
}
a,
a *,
button,
button * {
  cursor: pointer;
}
dialog {
  border: 0;
}

/* Don't Delete, Change, or Copy Class Name Backend is Affected This Section */
#__next,
#__next > * {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.category-selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.alerts-red {
  background-color: #ffdcd1;
  padding: 0.3em 0.625em;
  box-sizing: border-box;
  border-radius: 0.3em;
  color: #8b0000;
}

.alerts-green {
  background-color: rgb(132, 223, 132);
  padding: 0.3em 0.625em;
  box-sizing: border-box;
  border-radius: 0.3em;
  color: rgb(20, 80, 20);
}

.Missed {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: #b40a0a;
  background: hsla(38, 49%, 80%, 0.08);
}

.Ongoing {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: #0ab45f;
  background: hsla(38, 49%, 80%, 0.08);
}

.Soon {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: grey;
  background: hsla(38, 49%, 80%, 0.08);
}

.none {
  display: none;
}
/* Don't Delete, Change, or Copy Class Name Backend is Affected This Section */

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background: rgb(188, 192, 196);
}

:root {
  background-color: rgb(242, 242, 242);
  font-family: Arial, sans-serif;
  z-index: 0;
  width: 100%;
  height: 100%;
}

:root > * {
  margin: 0;
  height: 100%;
}

/* Cursor */
.cur-def {
  cursor: default;
}

.cur-point {
  cursor: pointer;
}

/* Added */
.loading {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.loading .loading-svg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  height: 4em;
}

body.loading .loading {
  overflow: hidden;
}

body.loading .loading {
  display: block;
}

.fixed-top-bar {
  position: absolute;
  z-index: 2;
}

.top-bar-container {
  width: calc(100% - 3em);
  margin-right: 3em;
  position: fixed;
  z-index: 2;
}

.top-bar {
  position: flex;
  background-color: white;
  z-index: 1;
  min-height: 3em;
  display: flex;
  align-items: center;
  gap: 0.9em;
  justify-content: space-between;
  box-shadow: 0 0.2em 0.1em -0.1em rgb(221, 216, 216);
}

.top-bar h1 {
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 2em;
  color: #0ab4b4;
  font-weight: 1000;
}

.top-bar h3 {
  margin: 0;
  text-align: right;
  padding-right: 0.5em;
  font-size: 0.9em;
  color: black;
  font-weight: 500;
}

.side-bar {
  position: fixed;
  background-color: #0ab4b4;
  right: 0;
  width: 3em;
  height: 100%;
  z-index: 3;
  box-shadow: -0.2em 0 0.1em -0.1em rgb(221, 216, 216);
}

.side-bar .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 0.9em;
  margin-top: 0.5em;
}

.category-icon {
  flex: 1 1 100%;
  justify-self: center;
  max-width: 1.8em;
  max-height: 1.8em;
  display: none;
}

.side-bar .logo {
  justify-self: center;
  max-width: 2em;
  max-height: 2em;
  margin-bottom: 0.5em;
}

.logout-icon {
  padding-left: 0.25em;
  max-width: 1.5em;
  max-height: 1.5em;
}

.home-contents {
  margin-right: 3em;
  display: flex;
  min-height: calc(100% - 0.3em);
}

.home-contents .categories {
  flex: 1 1 15%;
  min-height: 100%;
  padding-top: 3em;
  background-color: white;
  box-shadow: 0.2em 0 0.1em -0.1em rgb(221, 216, 216);
  z-index: 1;
}

.categories h2 {
  margin-left: 0.5em;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  color: black;
  font-weight: 500;
}

.categories .division {
  height: 0.06em;
  margin: 0 0.9em;
  padding: 0 0.5em;
  border-bottom: 0.06em solid rgb(10, 180, 180);
}

.categories ul li {
  list-style-type: none;
}

.home-contents .main-contents {
  display: flex;
  padding-top: 3.1em;
  /* margin-left: 14em; */
  flex: 1 1 85%;
  flex-wrap: wrap;
}

.main-contents > * {
  box-shadow: 0 0 0 0.1em rgb(221, 216, 216);
}

@media screen and (max-width: 785px) {
  .category-icon {
    display: flex;
  }

  .home-contents .categories {
    margin-right: 3em;
    right: 0;
    position: fixed;
    width: calc(100% - 3em);
    display: none;
    box-shadow: 0 transparent;
  }

  .home-contents .main-contents {
    display: flex;
    margin: 0;
    flex: 1 1 85%;
  }

  .main-contents > * {
    box-shadow: 0 0 0 0.1em rgb(221, 216, 216);
  }

}

@media screen and (max-width: 400px) {
  
  .atp-container{
    width: 15em;
  }
  
}

@media screen and (max-width: 327px) {
  .home-contents .main-contents {
    padding-right: 0em;
  }

  .atp-container{
    width: 15em;
  }
}

.categories ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0;
  overflow-y: auto;
  max-height: 34em;
}

.category {
  padding: 0 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-empty {
  padding: 0.6em;
  text-align: center;
}

.category-empty img {
  height: 2em;
  width: 2em;
}

.category-empty h5 {
  color: black;
  font-weight: 100;
  font-size: 0.8em;
  margin: 0;
}

.category input {
  max-width: 7em;
  min-height: 2.5em;
  border: none;
  color: black;
  font-size: 0.9em;
  font-weight: 100;
  margin: 0 0.3em;
  outline: none;
  background-color: transparent;
}

.category:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.add-category {
  margin: 0.9em 0.6em 0 0.6em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.add-category input {
  flex-grow: 1;
  min-height: 1.5em;
  padding: 0 0.5em;
  outline: none;
  height: 1.25em;
  border: 0.06em solid rgb(10, 180, 180);
  font-size: 0.9em;
  color: black;
}

.add-category img {
  height: 1.8em;
  width: 1.8em;
}

.category-settings {
  min-height: 1.8em;
  min-width: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
}

.category-settings:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.category-settings img {
  width: 1.25em;
  height: 1.25em;
}

.category-settings-popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category-settings-popup .cs-container {
  background-color: white;
  height: 9em;
  width: 15em;
  padding: 0 1em;
  z-index: 3;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.06em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
}

.cs-container .cs-header {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.cs-header .xclose-csp {
  border-radius: 100%;
  background-color: white;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs-header .xclose-csp:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.xclose-csp img {
  max-width: 0.9em;
  max-height: 0.9em;
  margin: 0;
  padding: 0;
}

.cs-container > * {
  width: 100%;
}

.cs-container h2 {
  justify-self: left;
  align-self: center;
  color: black;
}

.category-settings-popup div {
  display: flex;
  align-self: center;
}

.category-settings-popup input {
  flex-grow: 1;
  justify-self: left;
  align-self: center;
  outline: none;
  border: 0.06em solid rgb(7, 148, 148);
  border-radius: 0.3em;
  height: 1.25em;
  color: black;
  padding: 0.25em 0.5em;
  background-color: white;
  font-size: 0.9em;
}

.category-settings-popup .cs-btns {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: center;
  gap: 0.9em;
}

.cs-btns > * {
  background-color: transparent;
  outline: none;
  width: 4em;
  height: 1.75em;
  border-radius: 0.3em;
  font-weight: 750;
}

.cs-btns .red-btn {
  border: 0.06em solid rgb(173, 48, 16);
}

.red-btn:hover {
  background-color: rgb(185, 55, 22);
  color: white;
}

.cs-btns .green-btn {
  border: 0.06em solid rgb(10, 180, 180);
}

.green-btn:hover {
  background-color: rgb(10, 180, 180);
  color: white;
}

.csp-alert {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.csp-alert .cspa-container {
  background-color: white;
  height: 6.25em;
  width: 16em;
  z-index: 3;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.06em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
}

.csp-alert .cspa-container > * {
  flex-grow: 1;
}

.csp-alert .cspa-header {
  display: flex;
  justify-content: space-between;
}

.cspa-header .close-settings-container {
  border-radius: 100%;
  background-color: white;
  min-height: 1.8em;
  max-height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cspa-header .close-settings-container:hover {
  background-color: rgb(221, 216, 216);
}

.cspa-header h5 {
  text-align: justify;
  margin: 0;
  color: black;
  font-weight: 750;
  margin: 0.5em 0.25em 0;
  line-height: 1.5;
}

.csp-alert .cspa-btns {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  gap: 0.9em;
  margin-right: 0.5em;
}

.cspa-btns > * {
  background-color: transparent;
  outline: none;
  width: 4em;
  height: 1.75em;
  border-radius: 0.3em;
  font-size: 15;
  font-weight: 750;
  justify-self: center;
}

.cspa-btns .cancel-btn {
  border: 0.06em solid black;
  color: black;
}

.cancel-btn:hover {
  background-color: black;
  color: white;
}

.cspa-btns .delete-btn {
  border: 0.06em solid rgb(173, 48, 16);
  color: rgb(150, 34, 5);
}

.delete-btn:hover {
  background-color: rgb(173, 48, 16);
  color: white;
}

/* Tasks */
.main-contents .tasks {
  background-color: white;
  flex: 1 1 42.5%;
}

.tasks {
  width: 100%;
  min-width: 200px;
  gap: 0.9em;
  padding: 0.9em;
}

.tasks .ts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.06em solid rgb(225, 222, 223);
  padding-bottom: 0.5em;
}

.ts-header h2 {
  padding: 0;
  font-weight: 500;
  margin: 0;
}

.ts-header img {
  height: 2em;
  width: 2em;
}

.tasks ul {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  overflow-y: auto;
  max-height: 32.5em;
  flex-grow: 1;
}

.task {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em 0;
  padding: 0.5em;
  margin: 0.3em;
  box-shadow: 0 0 0 0.06em rgb(221 216 216);
  border-radius: 0.3em;
}

.task-finished > * {
  opacity: 0.3;
}

.task > * {
  flex: 1 1 100%;
}

.ts-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ts-title-1 {
  display: flex;
  flex: 1 1 100%;
}

.ts-title-1 input[type="checkbox"] {
  accent-color: #0ab4b4 !important;
}

.ts-title .ts-name {
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9em;
  max-width: 27.5em;
  flex: 1 1 100%;
  background-color: transparent;
}

.ts-title .task-settings {
  display: flex;
  max-width: 3em;
  max-height: 3em;
  align-items: center;
  justify-content: center;
}

.task-settings:hover {
  border-radius: 0.3em;
  background-color: rgba(221, 216, 216, 0.3);
}

.task-settings img {
  max-width: 1.5em;
  max-height: 1.5em;
}

.ts-description {
  align-self: flex-start;
  flex-wrap: wrap;
  padding: 0 1.5em;
}

.ts-description h5 {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  margin-right: 0.5em;
  font-weight: 500;
  text-align: justify;
  overflow: hidden;
}

.ts-date-container {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  padding-top: 0.5em;
  justify-content: right;
}

.ts-date {
  max-width: 12.5em;
  text-align: right;
}

.ts-date input {
  flex-grow: 1;
  min-width: 12.5em;
  justify-self: right;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Add Task */
.add-task-popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-task-popup .atp-container {
  background-color: white;
  height: 20em;
  z-index: 3;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.06em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
  gap: 0.9em;
  padding: 0.9em;
}

@media screen and (min-width: 400px) {
  .atp-container{
    width: 20em;
  }
}

.atp-container > * {
  flex: 1 1 100%;
}

.atp-header {
  display: flex;
  min-height: 1.25em;
  align-self: flex-end;
  justify-content: space-between;
}

.xclose-atp {
  max-width: 1.8em;
  min-width: 1.8em;
  min-height: 1.8em;
  max-height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.xclose-atp:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.xclose-atp img {
  max-width: 1.25em;
  min-width: 1.25em;
  min-height: 1.25em;
  max-height: 1.25em;
}

.atp-header h2 {
  margin: 0;
  padding: 0;
}

.atp-form {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 0.9em;
}

.atp-form > * {
  flex: 1 1 100%;
  align-items: center;
}

.atpf-1 {
  justify-content: center;
  display: flex;
  margin: 0 0.9em;
}

.atpf-1 input {
  justify-self: center;
  flex: 1 1 100%;
  border-radius: 0.3em;
  padding: 0.5em;
  outline: none;
  height: 1.25em;
  border: 0.06em solid rgb(10, 180, 180);
  font-size: 0.9em;
  color: black;
}

.atpf-2 {
  margin: 0 0.9em;
  display: flex;
}

.atpf-2 input {
  border: 0.06em solid rgb(10, 180, 180);
  outline: none;
  flex: 1 1 70%;
  font-size: 0.9em;
  color: black;
}

.atpf-2 label {
  margin-right: 0.25em;
  font-size: 0.8em;
  flex: 1 1 30%;
}

.atpf-3 {
  margin: 0 0.9em;
  display: flex;
}

.atpf-3 input {
  border: 0.06em solid rgb(10, 180, 180);
  outline: none;
  flex: 1 1 70%;
  font-size: 0.9em;
  color: black;
}

.atpf-3 label {
  margin-right: 0.25em;
  font-size: 0.8em;
  flex: 1 1 30%;
}

.atpf-4 {
  margin: 0 0.9em;
  display: flex;
}

.atpf-4 textarea {
  border: 0.06em solid rgb(10, 180, 180);
  outline: none;
  flex: 1 1 100%;
  padding: 0.5em;
  font-size: 1em;
  color: black;
  resize: none;
}

.atp-btns {
  margin: 0 0.9em;
  display: flex;
  justify-content: right;
}

.atp-btns button {
  justify-self: right;
  align-self: center;
  background-color: transparent;
  outline: none;
  padding: 0.5em;
  border-radius: 0.3em;
  font-size: 15;
  font-weight: 750;
  border: 0.06em solid rgb(10, 180, 180);
}

.atp-btns button:hover {
  background-color: rgb(10, 180, 180);
  color: white;
}

/* Task Popup Settings */
.tps-btns {
  margin: 0 0.5em;
  display: flex;
  justify-content: right;
}

.tps-btns button {
  justify-self: right;
  align-self: center;
  background-color: transparent;
  outline: none;
  width: 4em;
  padding: 0.5em;
  border-radius: 0.3em;
  font-size: 15;
  font-weight: 750;
  margin: 0 0.5em;
}

.tps-btns .tp-btn-delete {
  border: 0.06em solid rgb(173, 48, 16);
}

.tp-btn-delete:hover {
  background-color: rgb(173, 48, 16);
  color: white;
}

.tps-btns .tp-btn-save {
  border: 0.06em solid rgb(10, 180, 180);
}

.tp-btn-save:hover {
  background-color: rgb(10, 180, 180);
  color: white;
}

/* Dashboard */

.main-contents .dashboard {
  background-color: white;
  flex: 1 1 42.5%;
}

.dashboard {
  width: 100%;
  min-width: 200px;
  gap: 0.9em;
  padding: 0.9em;
}

.dashboard h4 {
  border-bottom: 0.06em solid rgb(225, 222, 223);
  margin: 0;
  padding: 0.5em;
}

.trash-icon {
  max-width: 1.5em;
  max-height: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
}

.dashboard .ts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.06em solid rgb(225, 222, 223);
  padding-bottom: 0.5em;
}

.dashboard .dashboardul {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  overflow-y: auto;
  max-height: 12em;
  flex-grow: 1;
}

/* Register */

.reg-log-bg {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reg {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reg-container {
  background-color: white;
  height: 20em;
  width: 15em;
  z-index: 3;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.06em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9em;
}

.register-form > * {
  flex: 1 1 100%;
  align-self: center;
}

.register-form h1 {
  margin: 0;
}

.register-form h4 {
  margin: 0;
}

.register-form input {
  outline: 0;
  padding: 0.5em;
  border-radius: 0.3em;
  background: transparent;
  border: 0.06em solid black;
  font-size: 0.9em;
}

.register-form button {
  background-color: rgb(9, 157, 157);
  color: white;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0.06em solid;
  font-size: 0.9em;
}

.register-form button:hover {
  border: 0.06em solid rgb(9, 157, 157);
  background-color: white;
  color: black;
}

.register-form a {
  text-decoration: none;
}

.register-form h5 {
  margin: 0;
  text-align: center;
  color: rgb(10, 180, 180);
}

.register-form h5:hover {
  color: black;
}

/* Login */
.log {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.log-container {
  background-color: white;
  height: 17.5em;
  width: 15em;
  z-index: 3;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.06em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9em;
}

.login-form > * {
  flex: 1 1 100%;
  align-self: center;
}

.login-form h1 {
  margin: 0;
}

.login-form h4 {
  margin: 0;
}

.login-form input {
  outline: 0;
  padding: 0.5em;
  border-radius: 0.3em;
  background: transparent;
  border: 0.06em solid black;
  font-size: 0.9em;
}

.login-form button {
  background-color: rgb(9, 157, 157);
  color: white;
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0.06em solid;
  font-size: 0.9em;
}

.login-form button:hover {
  border: 0.06em solid rgb(9, 157, 157);
  background-color: white;
  color: black;
}

.login-form a {
  text-decoration: none;
}

.login-form h5 {
  margin: 0;
  text-align: center;
  color: rgb(10, 180, 180);
}

.login-form h5:hover {
  color: black;
}

@media screen and (max-height: 33em) {
  :root {
    background-color: white;
    font-family: Arial, sans-serif;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  /* Register */

  .reg-log-bg {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .reg {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .reg-container {
    background-color: white;
    height: 80%;
    width: 80%;
    z-index: 3;
    border-radius: 0.3em;
    box-shadow: 0 0 0 0 rgb(221, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
  }

  .register-form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
  }

  .register-form > * {
    flex: 1 1 100%;
    align-self: center;
  }

  .register-form h1 {
    margin: 0;
  }

  .register-form h4 {
    margin: 0;
  }

  .register-form input {
    outline: 0;
    padding: 0.5em;
    border-radius: 0.3em;
    background: transparent;
    border: 0.06em solid black;
    font-size: 0.9em;
  }

  .register-form button {
    background-color: rgb(9, 157, 157);
    color: white;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 0.06em solid;
    font-size: 0.9em;
  }

  .register-form button:hover {
    border: 0.06em solid rgb(9, 157, 157);
    background-color: white;
    color: black;
  }

  .register-form a {
    text-decoration: none;
    padding-bottom: 2.5em;
  }

  .register-form h5 {
    margin: 0;
    text-align: center;
    color: rgb(10, 180, 180);
  }

  .register-form h5:hover {
    color: black;
  }

  /* Login */
  .log {
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .log-container {
    background-color: white;
    height: 100%;
    width: 80%;
    z-index: 3;
    border-radius: 0.3em;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 0 0 rgb(221, 216, 216);
    justify-content: center;
    align-items: center;
    padding: 2.5em;
  }

  .login-form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
  }

  .login-form > * {
    flex: 1 1 100%;
    align-self: center;
  }

  .login-form h1 {
    margin: 0;
  }

  .login-form h4 {
    margin: 0;
  }

  .login-form input {
    outline: 0;
    padding: 0.5em;
    border-radius: 0.3em;
    background: transparent;
    border: 0.06em solid black;
    font-size: 0.9em;
  }

  .login-form button {
    background-color: rgb(9, 157, 157);
    color: white;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 0.06em solid;
    font-size: 0.9em;
  }

  .login-form button:hover {
    border: 0.06em solid rgb(9, 157, 157);
    background-color: white;
    color: black;
  }

  .login-form a {
    text-decoration: none;
  }

  .login-form h5 {
    margin: 0;
    text-align: center;
    color: rgb(10, 180, 180);
  }

  .login-form h5:hover {
    color: black;
  }
}
