/* initialization */
:root {
  background-color: rgb(242, 242, 242);
  font-family: sans-serif;
  z-index: 0;
  width: 100%;
  height: 100%;
}
:root > * {
  width: inherit;
  height: inherit;
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background: rgb(188, 192, 196);
}
/* Reset, Change Default */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  cursor: default;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
a,
a *,
button,
button * {
  cursor: pointer;
}
dialog {
  border: 0;
}
img{
  max-width: 100%;
}
input{
  outline: none;
}
p,
label{
  font-weight: normal;
  font-size: 0.874em;
}
/* Cursor */
.cur-def {
  cursor: default;
}
.cur-point {
  cursor: pointer;
}
/* Don't Delete, Change, or Copy Class Name Backend is Affected This Section */
#__next {
  width: inherit;
  height: inherit;
}

.category-selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.Missed {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: #b40a0a;
  background: hsla(38, 49%, 80%, 0.08);
}

.Ongoing {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: #0ab45f;
  background: hsla(38, 49%, 80%, 0.08);
}

.Soon {
  border-left: 0.625em solid;
  border-top: 0.06em solid;
  border-bottom: 0.06em solid;
  border-right: 0.06em solid;
  border-color: grey;
  background: hsla(38, 49%, 80%, 0.08);
}

.none {
  display: none;
}
/* Don't Delete, Change, or Copy Class Name Backend is Affected This Section */
/* Added */
.loading {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.loading .loading-svg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  min-height: 4em;
}

body.loading .loading {
  overflow: hidden;
}

body.loading .loading {
  display: block;
}

.fixed-top-bar {
  position: absolute;
  z-index: 2;
}

.top-bar-container {
  width: calc(100% - 3em);
  position: fixed;
  z-index: 2;
}

.top-bar {
  background-color: white;
  z-index: 1;
  min-height: 3em;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  box-shadow: 0 0.2em 0.1em -0.1em rgb(221, 216, 216);
  padding: 0 0.5em;
}

.top-bar h1 {
  color: #0ab4b4;
}

.top-bar h3 {
  text-align: right;
  color: black;
}

.side-bar {
  position: fixed;
  background-color: #0ab4b4;
  right: 0;
  width: 3em;
  height: 100%;
  z-index: 3;
  box-shadow: -0.2em 0 0.1em -0.1em rgb(221, 216, 216);
  padding: 1em 0;
}

.side-bar .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.category-icon {
  flex: 1 1 100%;
  justify-self: center;
  max-width: 1.8em;
  min-height: 2em;
  display: none;
}

.side-bar .logo {
  justify-self: center;
  max-width: 2em;
  min-height: 2em;
}

.logout-icon {
  max-width: 1.8em;
  min-height: 1.8em;
}

.home-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 3.1em);
  height: 100%;
  padding-top: 3.1em;
}

.home-contents .categories {
  width: calc(100% - 3em);
  max-width: 13em;
  min-height: 100%;
  left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: white;
  box-shadow: 0.2em 0 0.1em -0.1em rgb(221, 216, 216);
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5em;
}

.categories > * {
  flex: 1 1 100%;
}

.categories h3 {
  color: black;
}

.add-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-category input {
  flex: 1 1 100%;
  padding: 0.20em;
}

.add-category img {
  min-height: 2em;
  width: 2em;
}

.categories ul {
  overflow-y: auto;
  max-height: 34em;
}

.categories ul li {
  list-style-type: none;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
  border-radius: 0.3em;
}

.category h5 {
  border: none;
  color: black;
  outline: none;
  background-color: transparent;
}

.category:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.category-empty {
  text-align: center;
}

.category-empty img {
  min-height: 2em;
  width: 2em;
}

.category-empty h5 {
  color: black;
}

.category-settings {
  min-height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
}

.category-settings:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.category-settings img {
  width: 1.25em;
  min-height: 1.25em;
}

.category-settings-popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 100%;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs-container {
  background-color: white;
  min-height: 9em;
  width: 95%;
  max-width: 18em;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.06em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cs-container > * {
  width: 100%;
  display: flex;
}

.cs-container .cs-header {
  align-items: center;
  justify-content: space-between;
}

.cs-header .xclose-csp {
  display: flex;
  border-radius: 100%;
  background-color: white;
  width: 1.75em;
  height: 1.75em;
  justify-content: center;
  align-items: center;
}

.cs-header .xclose-csp:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.xclose-csp img {
  width: 1.25em;
  height: 1.25em;
}

.cs-container input {
  width: 100%;
  padding: 0.25em;
  border: 0.05em solid rgb(7, 148, 148);
  border-radius: 0.3em;
}

.category-settings-popup .cs-btns {
  justify-content: flex-end;
  gap: 1em;
}

.cs-btns > * {
  background-color: transparent;
  width: 4em;
  min-height: 1.5em;
  border-radius: 0.3em;
}

.cs-btns .red-btn {
  border: 0.05em solid rgb(173, 48, 16);
  min-height: 1.8em;
}

.red-btn:hover {
  background-color: rgb(185, 55, 22);
  color: white;
}

.cs-btns .green-btn {
  border: 0.05em solid rgb(10, 180, 180);
  min-height: 1.8em;
}

.green-btn:hover {
  background-color: rgb(10, 180, 180);
  color: white;
}

.csp-alert {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.csp-alert .cspa-container {
  background-color: white;
  min-height: 7em;
  width: 95%;
  max-width: 18em;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
}

.csp-alert .cspa-container > * {
  flex-grow: 1;
}

.csp-alert .cspa-btns {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  gap: 1em;
}

.cspa-btns > * {
  background-color: transparent;
  width: 4em;
  min-height: 1.8em;
  border-radius: 0.3em;
}

.cspa-btns .cancel-btn {
  border: 0.06em solid black;
  color: black;
}

.cancel-btn:hover {
  background-color: black;
  color: white;
}

.cspa-btns .delete-btn {
  border: 0.06em solid rgb(173, 48, 16);
  color: rgb(150, 34, 5);
}

.delete-btn:hover {
  background-color: rgb(173, 48, 16);
  color: white;
}

.home-contents .main-contents {
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  height: 100%;
}

.main-contents > * {
  box-shadow: 0 0 0 0.1em rgb(221, 216, 216);
}

/* Tasks */
.tasks {
  background-color: white;
  flex: 1 1 42.5%;
  width: 100%;
  min-width: 14.4em;
  padding: 0.5em;
}

.tasks .ts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.06em solid rgb(225, 222, 223);
}

.ts-header img {
  min-height: 2em;
  width: 2em;
}

.tasks ul {
  overflow-y: auto;
  max-height: 32.5em;
  padding: 0.5em;
}

.task {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 0 0.06em rgb(221 216 216);
  border-radius: 0.3em;
  padding: 0.5em;
  margin: 0.25em;
}

.task-finished > * {
  opacity: 0.3;
}

.task > * {
  flex: 1 1 100%;
}

.ts-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ts-title-1 {
  display: flex;
  align-items: flex-start;
  flex: 1 1 100%;
}

.ts-title-1 input[type="checkbox"] {
  accent-color: #0ab4b4 !important;
}

.ts-title .ts-name {
  border: none;
  text-align: left;
  outline: none;
  flex: 1 1 100%;
  background-color: transparent;
}

.ts-title .task-settings {
  display: flex;
  max-width: 3em;
  max-height: 3em;
  align-items: center;
  justify-content: center;
}

.task-settings:hover {
  border-radius: 0.3em;
  background-color: rgba(221, 216, 216, 0.3);
}

.task-settings img {
  max-width: 1.5em;
  max-height: 1.5em;
}

.ts-description {
  align-self: flex-start;
  flex-wrap: wrap;
}

.ts-description p {
  text-align: justify;
}

.ts-date-container {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: right;
}

.ts-date {
  max-width: 12.5em;
  text-align: right;
}

.ts-date input {
  flex-grow: 1;
  min-width: 12.5em;
  justify-self: right;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Add Task */
.add-edit-popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atp-container {
  background-color: white;
  width: 95%;
  max-width: 17.5em;
  min-height: 16em;
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.atp-container > * {
  flex: 1 1 100%;
}

.atp-header {
  display: flex;
  min-height: 1.25em;
  align-items: center;
  justify-content: space-between;
}

.xclose-atp {
  width: 1.75em;
  height: 1.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.xclose-atp:hover {
  background-color: rgba(221, 216, 216, 0.3);
}

.xclose-atp img {
  width: 1.25em;
  height: 1.25em;
}

.atp-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.atp-form > * {
  flex: 1 1 100%;
  align-items: center;
}

.atpf-1 {
  justify-content: center;
  display: flex;
}

.atpf-1 input {
  flex: 1 1 100%;
  border-radius: 0.3em;
  padding: 0.25em;
  border: 0.05em solid rgb(10, 180, 180);
  color: black;
}

.atpf-2 {
  display: flex;
}

.atpf-2 input {
  border: 0.05em solid rgb(10, 180, 180);
  flex: 1 1 70%;
  color: black;
}

.atpf-2 label {
  flex: 1 1 30%;
}

.atpf-3 {
  display: flex;
}

.atpf-3 input {
  border: 0.05em solid rgb(10, 180, 180);
  outline: none;
  flex: 1 1 70%;
  color: black;
}

.atpf-3 label {
  flex: 1 1 30%;
}

.atpf-4 {
  display: flex;
}

.atpf-4 textarea {
  border: 0.06em solid rgb(10, 180, 180);
  flex: 1 1 100%;
  color: black;
  padding: 0.5em;
  resize: none;
}

.atp-btns {
  display: flex;
  justify-content: right;
}

.atp-btns button {
  justify-self: right;
  align-self: center;
  background-color: transparent;
  outline: none;
  border-radius: 0.3em;
  border: 0.06em solid rgb(10, 180, 180);
  width: 5em;
  padding: 0.25em;
}

.atp-btns button:hover {
  background-color: rgb(10, 180, 180);
  color: white;
}

/* Task Popup Settings */
.tps-btns {
  display: flex;
  justify-content: right;
  gap: 1em;
}

.tps-btns button {
  background-color: transparent;
  width: 4em;
  border-radius: 0.3em;
  padding: 0.25em;
}

.tps-btns .tp-btn-delete {
  border: 0.06em solid rgb(173, 48, 16);
}

.tp-btn-delete:hover {
  background-color: rgb(173, 48, 16);
  color: white;
}

.tps-btns .tp-btn-save {
  border: 0.06em solid rgb(10, 180, 180);
}

.tp-btn-save:hover {
  background-color: rgb(10, 180, 180);
  color: white;
}

/* Dashboard */
.dashboard {
  background-color: white;
  flex: 1 1 42.5%;
  width: 100%;
  min-width: 14.4em;
  padding: 0.5em;
}

.dashboard h5 {
  padding: 0.5em;
  border-bottom: 0.06em solid rgb(225, 222, 223);
}

.trash-icon {
  width: 2em;
  min-height: 2em;
}

.dashboard .ts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.06em solid rgb(225, 222, 223);
}

.dashboard .dashboardul {
  overflow-y: auto;
  max-height: 12em;
  flex-grow: 1;
  padding: 0.5em;
}

/* Auth */
.reg-log-bg {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Register */
.reg-container {
  background-color: white;
  width: 95%;
  max-width: 17.5em;
  min-height: 20em;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  padding: 2em;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.register-form > * {
  flex: 1 1 100%;
}

.register-form input {
  border-radius: 0.3em;
  border: 0.05em solid gray;
  padding: 0.5em;
}

.register-form button {
  background-color: rgb(9, 157, 157);
  color: white;
  border-radius: 0.3em;
  border: 0.05em solid;
  padding: 0.5em;
}

.register-form button:hover {
  border: 0.05em solid rgb(9, 157, 157);
  background-color: white;
  color: black;
}

.register-form h5 {
  text-align: center;
  color: rgb(10, 180, 180);
}

.register-form h5:hover {
  color: black;
}

/* Login */
.log-container {
  background-color: white;
  border-radius: 0.3em;
  box-shadow: 0 0 0 0.05em rgb(221, 216, 216);
  width: 95%;
  max-width: 17.5em;
  min-height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.login-form > * {
  flex: 1 1 100%;
}

.login-form input {
  border-radius: 0.3em;
  border: 0.05em solid gray;
  padding: 0.5em;
}

.login-form button {
  background-color: rgb(9, 157, 157);
  color: white;
  border-radius: 0.3em;
  border: 0.05em solid;
  padding: 0.5em;
}

.login-form button:hover {
  border: 0.05em solid rgb(9, 157, 157);
  background-color: white;
  color: black;
}

.login-form h5 {
  text-align: center;
  color: rgb(10, 180, 180);
}

.login-form h5:hover {
  color: black;
}

/* Small Screens */
@media (max-width: 785px) {
  .category-icon {
    display: block;
  }

  .home-contents .categories {
    position: fixed;
    width: calc(100% - 3em);
    max-width: 100%;
    display: none;
    padding-top: 3.5em;
  }

  .main-contents .tasks {
    min-height: 50%;
  }

  .main-contents .dashboard {
    min-height: 50%;
  }
}
/* 
@media screen and (min-width: 400px) {
  .atp-container{
    width: 20em;
  }
} */