
* {  
    /* For ruler (Comment out after finish) */  
    /* border: dotted 	rgba(230,230,250,0.75) 0.5px; */
    transition:  width .4s, height .4s, transform .4s,  visibility 0.15s linear, opacity 0.15s linear;;
}
/* Don't Delete, Change, or Copy Class Name Backend is Affected This Section */
.category-selected {
    background-color: rgb(221, 216, 216);
}

.alerts-red {
    background-color: #FFDCD1;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #8b0000;
}

.alerts-green {
    background-color: rgb(132, 223, 132);
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgb(20, 80, 20);
}

.Missed {
    background-color: rgba(255,0,0,0.25);
}

.Today {
    background-color: rgba(0,255,0,0.25);
}

.Soon {
    background-color: rgba(192,192,192,0.25);
}
/* Don't Delete, Change, or Copy Class Name Backend is Affected This Section */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: white; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(188,192,196); 
}

/* Whole Document */ 
:root {
    background-color: rgb(225,222,223);
    font-family: Arial, sans-serif;
    z-index: 0;
    width: 100%;
    height: 100%;
    
}

:root > * {
    margin: 0;
    height: 100%;
}

/* Cursor */ 
.cur-def{
    cursor: default;
}

.cur-point{
    cursor: pointer;
}

/* Added */ 
.fixed-top-bar{
    position: absolute;
    z-index: 3;
}

.top-bar-container {
    width: calc(100% - 50px);
    margin-left: 50px;
    position: fixed;
    z-index: 1;
}

.top-bar {
    position: flex;
    background-color: white;
    z-index: 1;
    min-height: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px rgb(221, 216, 216);
}

.top-bar h1 {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 200%;
    color: rgb(73, 71, 71);
    font-weight: 1000;
}

.top-bar h4 {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:normal;
    color: rgb(73, 71, 71);
    font-weight: 500;
}

.side-bar {
    position: fixed;
    background-color: rgb(45,44,57);
    width: 50px;
    height: 100%;
    z-index: 2;
    box-shadow: 4px 0 2px -2px rgb(221, 216, 216);
}

.side-bar .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4ch;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.category-icon{
    flex: 1 1 100%;
    justify-self: center;
    max-width: 30px;
    max-height: 30px;
    display: none;
}

.side-bar .logo {
    justify-self: center;
    max-width: 35px;
    max-height: 35px;
    margin-bottom: 1ch;
}

.logout-icon {
    padding-left: 0.5ch;
    max-width: 24px;
    max-height: 24px;
}


.home-contents {
    margin-left: 50px;
    display: flex;
    min-height: calc(100% - 51px);
}

.home-contents .categories {
    position: fixed;
    flex: 1 1 15%;
    min-height: 100%;
    padding-top: 50px;
    background-color: white;
    box-shadow: 4px 0 2px -2px rgb(221, 216, 216);
    z-index: 2;
}

.categories h2 {
    margin-left: 1ch;
    margin-bottom: 7px;
    color: rgb(73, 71, 71);
    font-weight: 500;
}

.categories .division {
    height: 1px;
    margin: 0 2ch;
    padding: 0 1ch;
    border-bottom: 1px solid rgb(10, 180, 180);
}

.categories ul li {
    list-style-type: none;
}

.home-contents .main-contents {
    display: flex;
    gap: 1em;
    margin: 1em;
    padding-top: 4em;
    margin-left: 15.5em;
    min-width: 300px;
    flex-wrap: wrap;
    flex: 1 1 85%;
}

.main-contents > * {
    border-radius: 5px;
    min-width: 400px;
    box-shadow: 0 0 0px 2px rgb(221, 216, 216);
}


@media screen and (max-width: 785px) {

    .category-icon{
        display: flex;
    }

    .home-contents .categories {
        display: none;
    }

    .home-contents .main-contents {
        display: flex;
        gap: 0.25em;
        margin: 0.25em;
        padding-top: 3em;
        flex-wrap: wrap;
        flex: 1 1 85%;
    }
    
    .main-contents > * {
        border-radius: 5px;
        box-shadow: 0 0 0px 2px rgb(221, 216, 216);
    }
}

.categories ul {
    padding: 0;
    margin-top: 1ch;
    margin-bottom: 0;
    overflow-y: hidden;
    max-height: 550px;
}

.categories ul:hover,
.categories ul:active,
.categories ul:focus {
    overflow-y: auto;
}

.category {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-empty {
    padding: 10px 10px;
    text-align: center;
}

.category-empty img {
    height: 37px;
    width: 37px;
}

.category-empty h5 {
    color: black;
    font-weight: 100;
    font-size: 14px;
    margin: 0;
}

.category input {
    max-width: 13.9ch;
    min-height: 5ch;
    border: none;
    color: rgb(73, 71, 71);
    font-weight: 100;
    font-size: 14px;
    margin: 0 5px;
    outline: none;
    background-color: transparent;
}

.category:hover {
    background-color: rgb(0, 0, 0, 0.08);
}

.add-category {
    margin: 2ch 10px 0 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.add-category input {
    flex-grow: 1;
    min-height: 25px; 
    padding: 0 1ch;
    outline: none;
    height: 20px;
    border: 1px solid rgb(10,180,180);
    font-weight: 100;
    font-size: 14px;
    color: black;
}

.add-category img {
    height: 30px;
    width: 30px;  
}

.category-settings{
    min-height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.category-settings:hover {
    background-color: rgb(221, 216, 216);
}

.category-settings img{
    width: 20px;
    height: 20px;
}

.category-settings-popup {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    visibility: 0;
    opacity: 0;
}

.category-settings-popup .cs-container{
    background-color: white;
    height: 150px;
    width: 310px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(221, 216, 216);
    display: flex;
    flex-wrap: wrap;
}

.cs-container .cs-header {
    display: flex;
    justify-content: space-between;
}

.cs-header .xclose-csp {
    border-radius: 100%;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs-header .xclose-cspa:hover {
    background-color: rgb(221, 216, 216);
}

.xclose-csp img {
    max-width: 15px;
    max-height: 15px;
    margin: 0;
    padding: 0;
}

.cs-container > * {
    width: 100%;
}

.cs-container h2 {
    justify-self: left;
    align-self: center;
    margin: 1ch 0 0 2ch;
    color: rgb(73, 71, 71);
}

.category-settings-popup form {
    display: flex;
    align-self: center;
}

.category-settings-popup input {
    flex-grow: 1;
    justify-self:left;
    margin: 0 4ch;
    align-self: center;
    outline: none;
    border: 1px solid rgb(7, 148, 148);
    border-radius: 5px;
    height: 20px;
    color: rgb(73, 71, 71);
    padding: 0.5ch 1ch;
    background-color: rgba(244, 246, 248,0.3);
    font-size: 15;
    font-weight: 750;
}

.category-settings-popup .cs-btns {
    display: flex;
    align-items:flex-end;
    justify-content: end;
    align-self: center;
    gap: 2ch;
    margin-right: 3ch;
}

.cs-btns > * {
    background-color: transparent;
    outline: none;
    width: 8ch;
    height: 3.5ch;
    border-radius: 5px;
    font-size: 15;
    font-weight: 750;
}

.cs-btns .red-btn {
    border: 1px solid rgb(173, 48, 16);
}

.red-btn:hover {
    background-color: rgb(185, 55, 22);
    color: white;
}

.cs-btns .green-btn {
    border: 1px solid rgb(10,180,180);

}

.green-btn:hover {
    background-color: rgb(10,180,180);
    color: white;
}

.csp-alert {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    visibility: 0;
    opacity: 0;
}

.csp-alert .cspa-container{
    background-color: white;
    height: 100px;
    width: 300px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(221, 216, 216);
    display: flex;
    flex-wrap: wrap;
    padding: 1ch;
}

.csp-alert .cspa-container > * {
    flex-grow: 1;
}

.csp-alert .cspa-header{
    display: flex;
    justify-content: space-between;
}

.cspa-header .close-settings-container{
    border-radius: 100%;
    background-color: white;
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cspa-header .close-settings-container:hover{
    background-color: rgb(221, 216, 216);
}

.cspa-header h5{
    text-align: justify;
    margin: 0;
    color: rgb(73, 71, 71);
    font-size: 15;
    font-weight: 750;
    margin: 1ch 0.5ch 0;
    line-height: 1.5;
}

.csp-alert .cspa-btns {
    display: flex;
    justify-content: end;
    align-self: center;
    gap: 2ch;
    margin-right: 1ch;
}

.cspa-btns > *{
    background-color: transparent;
    outline: none;
    width: 8ch;
    height: 3.5ch;
    border-radius: 5px;
    font-size: 15;
    font-weight: 750;
    justify-self: center;
}

.cspa-btns .cancel-btn {
    border: 1px solid black;
    color: black;
}

.cancel-btn:hover {
    background-color: black;
    color: white;
}

.cspa-btns .delete-btn {
    border: 1px solid rgb(173, 48, 16);
    color: rgb(150, 34, 5);
}

.delete-btn:hover {
    background-color: rgb(173, 48, 16);
    color: white;
}

/* Tasks */
.main-contents .tasks {
    background-color: white;
    flex: 1 1 42.5%;
}

.tasks {
    width: 100%;
    gap: 1em;
    padding: 1em;
}

.tasks .ts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(225,222,223);
    padding-bottom: 1ch;
}

.ts-header h2 {
    padding: 0;
    font-weight: 500;
    margin: 0;   
}

.ts-header img {
    height: 35px;
    width: 35px; 
}

.tasks ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    overflow-y: hidden;
    max-height: 520px;
    flex-grow: 1;
}

.tasks ul:hover {
    overflow-y: auto;
}

.task {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(225,222,223);
    padding: 1ch 0;
    padding: 1ch;
    
    border-radius: 5px;
}

.task-finished > * {
    opacity: 0.3;
}

.task > * {
    flex: 1 1 100%;
}

.ts-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ts-title-1 {
    display: flex;
    flex: 1 1 100%;
}


.ts-title .ts-name{
    border: none;
    outline: none;
    font-size: 15px;
    max-width: 55ch;
    flex: 1 1 100%;
    background-color: transparent;
}

.ts-title .task-settings {
    display: flex;
    max-width: 50px;
    max-height: 50px;
    align-items: center;
    justify-content: center;
}

.task-settings:hover {
    border-radius: 5px;
    background-color: rgb(221, 216, 216);
}

.task-settings img {
    max-width: 25px;
    max-height: 25px;
}

.ts-description {
    align-self: flex-start;
    flex-wrap: wrap;
    padding: 0 3ch;
}

.ts-description h5 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-right: 1ch;
    font-weight: 500;
    text-align: justify;
    overflow: hidden;
}

.ts-date-container {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    padding-top: 1ch;
    justify-content: right;
}

.ts-date {
    max-width: 25ch;
    text-align: right;
}

.ts-date input {
    flex-grow: 1;
    min-width: 25ch;
    justify-self: right;
    text-align: right;
    border: none;
    outline: none;
    background-color: transparent;
}

/* Add Task */
.add-task-popup {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    visibility: 0;
    opacity: 0;
}

.add-task-popup .atp-container{
    background-color: white;
    height: 350px;
    width: 300px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(221, 216, 216);
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;
    padding: 2ch;
}

.atp-container > * {
    flex: 1 1 100%;
}

.atp-header {
    display: flex;
    min-height: 20px;
    align-self: flex-end;
    justify-content: space-between;
}

.xclose-atp {
    max-width: 30px;
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.xclose-atp:hover {
    background-color: rgb(221, 216, 216);   
}

.xclose-atp img {
    max-width: 20px;
    min-width: 20px;
    min-height: 20px;
    max-height: 20px;
}

.atp-header h2 {
    margin: 0;
    padding: 0;
}

.atp-form {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 2ch;
}

.atp-form > * {
    flex: 1 1 100%;
    align-items: center;
}

.atpf-1 {
    justify-content: center;
    display: flex;
    margin: 0 2ch;
}

.atpf-1 input {
    justify-self: center;
    flex: 1 1 100%;
    border-radius: 5px;
    padding: 1ch;
    outline: none;
    height: 20px;
    border: 1px solid rgb(10,180,180);
    font-weight: 100;
    font-size: 14px;
    color: black;
}

.atpf-2 {
    margin: 0 2ch;
    display: flex;
}

.atpf-2 input {
    max-width: 185px;
    border: 1px solid rgb(10,180,180);
    outline: none;
    flex: 1 1 100%;
}

.atpf-3 {
    margin: 0 2ch;
    display: flex;
}

.atpf-3 input {
    max-width: 185px;
    border: 1px solid rgb(10,180,180);
    outline: none;
    flex: 1 1 100%;
}

.atpf-3 label {
    margin-right: 0.9ch;
}

.atpf-4 {
    margin: 0 2ch;
    display: flex;
}

.atpf-4 textarea {
    border: 1px solid rgb(10,180,180);
    outline: none;
    flex: 1 1 100%;
    padding: 1ch;
    font-weight: 100;
    font-size: 14px;
    color: rgb(73, 71, 71);
}

.atp-btns {
    margin: 0 2ch;
    display: flex;
    justify-content: right;
}

.atp-btns button {
    justify-self: right;
    align-self: center;
    background-color: transparent;
    outline: none;
    padding: 1ch;
    border-radius: 5px;
    font-size: 15;
    font-weight: 750;
    border: 1px solid rgb(10,180,180);
}

.atp-btns button:hover {
    background-color: rgb(10,180,180);
    color: white;
}

/* Task Popup Settings */
.tps-btns {
    margin: 0 1ch;
    display: flex;
    justify-content: right;
}

.tps-btns button {
    justify-self: right;
    align-self: center;
    background-color: transparent;
    outline: none;
    width: 8ch;
    padding: 1ch;
    border-radius: 5px;
    font-size: 15;
    font-weight: 750;
    margin: 0 1ch;
}

.tps-btns .tp-btn-delete {
    border: 1px solid rgb(173, 48, 16);
}

.tp-btn-delete:hover {
    background-color: rgb(173, 48, 16);
    color: white;
}

.tps-btns .tp-btn-save {
    border: 1px solid rgb(10,180,180);
}

.tp-btn-save:hover {
    background-color: rgb(10,180,180);
    color: white;
}

/* Dashboard */

.main-contents .dashboard {
    background-color: white;
    flex: 1 1 42.5%;
}

.dashboard {
    width: 100%;
    gap: 1em;
    padding: 1em;
}

.dashboard h4 {
    border-bottom: 1px solid rgb(225,222,223);
    margin: 0;
    padding: 1ch;
}

.dashboard .ts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(225,222,223);
    padding-bottom: 1ch;
}

.dashboard .dashboardul {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    overflow-y: auto;
    max-height: 135px;
    flex-grow: 1;
}

/* Register */

.reg-log-bg{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reg {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reg-container {
    background-color: rgb(240,242,245);
    height: 350px;
    width: 250px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(221, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5ch;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.register-form > * {
    flex: 1 1 100%;
    align-self: center;
}

.register-form h1 {
    margin: 0;
}

.register-form h4 {
    margin: 0;
}

.register-form input{
    outline: 0;
    padding: 1ch;
    border-radius: 5px;
    background: transparent;
    border: 1px solid black;
    font-size: 15px;
}

.register-form button{
    background-color: rgb(9, 157, 157);
    color: rgb(240,242,245);
    padding: 1ch;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
}

.register-form button:hover{
    border: 1px solid rgb(9, 157, 157);
    background-color: rgb(240,242,245);
    color: black;
}

.register-form a {
    text-decoration: none;
}

.register-form h5 {
    margin: 0;
    text-align: center;
    color: rgb(10,180,180);
}

.register-form h5:hover {
    color: black;
}

/* Login */
.log {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.log-container {
    background-color: rgb(240,242,245);
    height: 275px;
    width: 250px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(221, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5ch;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.login-form > * {
    flex: 1 1 100%;
    align-self: center;
}

.login-form h1 {
    margin: 0;
}

.login-form h4 {
    margin: 0;
}

.login-form input{
    outline: 0;
    padding: 1ch;
    border-radius: 5px;
    background: transparent;
    border: 1px solid black;
    font-size: 15px;
}

.login-form button{
    background-color: rgb(9, 157, 157);
    color: rgb(240,242,245);
    padding: 1ch;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
}

.login-form button:hover{
    border: 1px solid rgb(9, 157, 157);
    background-color: rgb(240,242,245);
    color: black;
}

.login-form a {
    text-decoration: none;
}

.login-form h5 {
    margin: 0;
    text-align: center;
    color: rgb(10,180,180);
}

.login-form h5:hover {
    color: black;
}

@media screen and (max-height: 350px){
    /* Register */

.reg-log-bg{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reg {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reg-container {
    background-color: rgb(225,222,223);
    height: 80%;
    width: 80%;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgb(221, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5ch;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.register-form > * {
    flex: 1 1 100%;
    align-self: center;
}

.register-form h1 {
    margin: 0;
}

.register-form h4 {
    margin: 0;
}

.register-form input{
    outline: 0;
    padding: 1ch;
    border-radius: 5px;
    background: transparent;
    border: 1px solid black;
    font-size: 15px;
}

.register-form button{
    background-color: rgb(9, 157, 157);
    color: rgb(240,242,245);
    padding: 1ch;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
}

.register-form button:hover{
    border: 1px solid rgb(9, 157, 157);
    background-color: rgb(240,242,245);
    color: black;
}

.register-form a {
    text-decoration: none;
    padding-bottom: 5ch;
}

.register-form h5 {
    margin: 0;
    text-align: center;
    color: rgb(10,180,180);
}

.register-form h5:hover {
    color: black;
}

/* Login */
.log {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.log-container {
    background-color: rgb(225,222,223);
    height: 100%;
    width: 80%;
    z-index: 3;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 0 0 rgb(221, 216, 216);
    justify-content: center;
    align-items: center;
    padding: 5ch;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.login-form > * {
    flex: 1 1 100%;
    align-self: center;
}

.login-form h1 {
    margin: 0;
}

.login-form h4 {
    margin: 0;
}

.login-form input{
    outline: 0;
    padding: 1ch;
    border-radius: 5px;
    background: transparent;
    border: 1px solid black;
    font-size: 15px;
}

.login-form button{
    background-color: rgb(9, 157, 157);
    color: rgb(240,242,245);
    padding: 1ch;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
}

.login-form button:hover{
    border: 1px solid rgb(9, 157, 157);
    background-color: rgb(240,242,245);
    color: black;
}

.login-form a {
    text-decoration: none;
}

.login-form h5 {
    margin: 0;
    text-align: center;
    color: rgb(10,180,180);
}

.login-form h5:hover {
    color: black;
}
}